<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>

    <link rel="stylesheet" type="text/css" href="css/game.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div  id="app">

    <div style="display: flex; justify-content: flex-end" v-if="user == 'Guest'">
<form class="form-inline" id="login-form" onsubmit="return false">
    <label class="sr-only" for="inlineFormInput">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="username" placeholder="Username">

    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

        <input type="password" class="form-control" id="inlineFormInputGroup" name="password" placeholder="Password">
    </div>

    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
        </label>
    </div>

    <button type="submit" onclick="login()"  class="btn btn-primary">Log in</button>
</form>



</div>
    <form id="logout-form" onsubmit="return false" v-else>
        <button  class="float-sm-right btn btn-primary btn-lg" onclick="logout()" >Log out</button>
        <center><button  onclick="createGame()" class="btn btn-primary btn-lg">Create Game</button></center>
    </form>

<h1 align="center">Game List</h1>

<!--Table container-->

<div align="center"   class="table-responsive center">
    <table style="width: 100%" class="table table-striped " id="gameList">
    </table>
</div>

    <table class="table table-bordered">
        <thead >
        <tr>

            <th>Name</th>
            <th>Total</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Tied</th>

        </tr>
        </thead>
        <tbody>
        <tr v-for="(player, index) in players">

            <td>{{player.name}}</td>
            <td>{{player.total}}</td>
            <td>{{player.won}}</td>
            <td>{{player.lost}}</td>
            <td>{{player.tied}}</td>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; flex-direction: column  " v-if="user == 'Guest'">
       <br><br><h2>Registro</h2><br>

        <form class="form-inline" id="register-form" onsubmit="return false">
            <label class="sr-only" for="inlineFormInput">Username</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput2" name="username" placeholder="Username">

            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                <input type="password" class="form-control" id="inlineFormInputGroup2" name="password" placeholder="Password">
            </div>

            <button type="submit" onclick="signUp()"  class="btn btn-primary">Registrar</button>
        </form>
        <br>
      </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="./js/games.js"></script>
<script src ="./js/bootstrap.min.js"></script>
</body>
</html>